body {
	background-color: #AA5939;
}

h1, img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: yellow;
}

img {
	width: 250px;
	height: 250px;
}

#sidebarLeft, #sidebar, #sidebarRight {
	background-color: #AA7939;
}

#showLeft, #show, #showRight {
	background-color: #806515;
}

td {
	color: yellow;
	width: 50%;
}

td:hover {
	background-color: #D4A76A;
}

table, td {
	border: 1px solid black;
}

#create {
	margin: auto;
	width: 50%;
	padding: 10px;
}