#sidebarLeft, #sidebar, #sidebarRight {
	background-color: lavender;
}

#showLeft, #show, #showRight {
	background-color: lavenderblush;
}

td {
	color: red;
	width: 50%;
}

td:hover {
	font-weight: bold;
	background-color: #fceb00;
}

table, td {
	border: 1px solid black;
}

#create {
	margin: auto;
	width: 50%;
	padding: 10px;
}